<!DOCTYPE html>
<html lang="en" ng-app="mainApp" class="no-js">
<head>
	<link rel="manifest" href="/manifest.json">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Testa uzdevums</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="ChatBlock" ng-controller="messageController" class="mainDiv">
		<div class="title">Testa uzdevums</div>
		<div class="chatDisplay">
			<div ng-repeat="message in fcmMessages" class="message">
				<div class="messageDateTime">{{message.data.datetime}}</div>
				<div class="messageText">{{message.data.text}}</div>
			</div>
		</div>
		<form ng-submit="sendNotificationMessage()">
			<input type="text" ng-model="messageInput" class="messageInputField"
				maxlength="2000" />
			<input type="submit" value="Sūtīt" class="buttonSend" />
		</form>
	</div>
	<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular.js"></script>
	<script src="/js/mainApp.js"></script>
	<script src="/js/mainControllers.js"></script>
	<script src="/js/firebaseInit.js"></script>
</body>
</html>
