.title {
	height: 32px;
	font-weight: bold;
	font-size: 27px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #bfcfe3;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

body {
	background-color: #DCDCDC;
	-webkit-font-smoothing: antialiased !important;
	font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
}

.mainDiv {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.chatDisplay {
	background-color: #ffffff;
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

.buttonSend {
	width: 100%;
}

.messageInputField {
	width: 100%;
	height: 20px;
	padding: 0px;
	border-top: #bfcfe3;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: none;
	border-left-style: none;
}

.message {
	margin: 5px;
}

.messageText {
	padding: 10px;
	white-space: pre-wrap;
	word-break: break-word;
	background-color: #f1f8fb;
}

.messageDateTime {
	padding-top: 2px;
	padding-left: 5px;
	background-color: #DFEAFF;
	font-size: 14px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
